<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyWeSite</display-name>
  <welcome-file-list>
    <welcome-file>about.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>controller.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtpServlet</display-name>
    <servlet-name>OtpServlet</servlet-name>
    <servlet-class>controller.OtpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtpServlet</servlet-name>
    <url-pattern>/OtpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>controller.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeServlet</display-name>
    <servlet-name>ChangeServlet</servlet-name>
    <servlet-class>controller.ChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeServlet</servlet-name>
    <url-pattern>/ChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>controller.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>controller.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AloginServlet</display-name>
    <servlet-name>AloginServlet</servlet-name>
    <servlet-class>controller.AloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AloginServlet</servlet-name>
    <url-pattern>/AloginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>controller.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateServlet</display-name>
    <servlet-name>CreateServlet</servlet-name>
    <servlet-class>controller.CreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateServlet</servlet-name>
    <url-pattern>/CreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstallServlet</display-name>
    <servlet-name>InstallServlet</servlet-name>
    <servlet-class>controller.InstallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstallServlet</servlet-name>
    <url-pattern>/InstallServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TfindServlet</display-name>
    <servlet-name>TfindServlet</servlet-name>
    <servlet-class>controller.TfindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TfindServlet</servlet-name>
    <url-pattern>/TfindServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewServlet</display-name>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>controller.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/ViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindServlet</display-name>
    <servlet-name>FindServlet</servlet-name>
    <servlet-class>controller.FindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindServlet</servlet-name>
    <url-pattern>/FindServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MfindServlet</display-name>
    <servlet-name>MfindServlet</servlet-name>
    <servlet-class>controller.MfindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MfindServlet</servlet-name>
    <url-pattern>/MfindServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RiServlet</display-name>
    <servlet-name>RiServlet</servlet-name>
    <servlet-class>controller.RiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RiServlet</servlet-name>
    <url-pattern>/RiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusServlet</display-name>
    <servlet-name>StatusServlet</servlet-name>
    <servlet-class>controller.StatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusServlet</servlet-name>
    <url-pattern>/StatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceServlet</display-name>
    <servlet-name>ServiceServlet</servlet-name>
    <servlet-class>controller.ServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceServlet</servlet-name>
    <url-pattern>/ServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MchangeServlet</display-name>
    <servlet-name>MchangeServlet</servlet-name>
    <servlet-class>controller.MchangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MchangeServlet</servlet-name>
    <url-pattern>/MchangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactedServelt</display-name>
    <servlet-name>ContactedServelt</servlet-name>
    <servlet-class>controller.ContactedServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactedServelt</servlet-name>
    <url-pattern>/ContactedServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactedServlet</display-name>
    <servlet-name>ContactedServlet</servlet-name>
    <servlet-class>controller.ContactedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactedServlet</servlet-name>
    <url-pattern>/ContactedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MforgotPassword</display-name>
    <servlet-name>MforgotPassword</servlet-name>
    <servlet-class>controller.MforgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MforgotPassword</servlet-name>
    <url-pattern>/MforgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordServlet</display-name>
    <servlet-name>PasswordServlet</servlet-name>
    <servlet-class>controller.PasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordServlet</servlet-name>
    <url-pattern>/PasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordSer</display-name>
    <servlet-name>PasswordSer</servlet-name>
    <servlet-class>controller.PasswordSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordSer</servlet-name>
    <url-pattern>/PasswordSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Motpservlet</display-name>
    <servlet-name>Motpservlet</servlet-name>
    <servlet-class>controller.Motpservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Motpservlet</servlet-name>
    <url-pattern>/Motpservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtpSer</display-name>
    <servlet-name>OtpSer</servlet-name>
    <servlet-class>controller.OtpSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtpSer</servlet-name>
    <url-pattern>/OtpSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMail</display-name>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>controller.SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TruckServlet</display-name>
    <servlet-name>TruckServlet</servlet-name>
    <servlet-class>controller.TruckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TruckServlet</servlet-name>
    <url-pattern>/TruckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>controller.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PraveServlet</display-name>
    <servlet-name>PraveServlet</servlet-name>
    <servlet-class>controller.PraveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PraveServlet</servlet-name>
    <url-pattern>/PraveServlet</url-pattern>
  </servlet-mapping>
</web-app>